img {
  width: 80%;
  display: flex;
  text-align: center;
  margin: 1em auto;
}

.AboutUs {
  background-color: rgb(219, 219, 219);
  width: 90%;
  height: 100%;
  margin: auto;
}

/* All text on page */
.AboutUs h1, h2, h3, h4 {
  margin: 0.4em 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

/* Our team */
.AboutUs h2 {
  border-bottom: solid black 1px;
  width: 20%;
  margin: 0 auto;
}

/* Names */
.AboutUs h3 {
  font-family: 'Space Mono', monospace;
  font-size: 1.6em;
}

/* Descriptions */
.AboutUs h4 {
  width: 100%;
  margin: 0 auto;
  border-top: solid black 1px;
}

.AboutUs img {
  border: solid black 1px;
}

.Keian, .Peyton, .Charles, .Quentin {
  /* border: solid black 1px; */
  padding: 1em;
  margin: 3em auto;
  width: 40%;
}
