.HeaderClass {
  background-color: black;
  height: 100px;
}

.HeaderClass a {
  color: #FFFFFF;
  margin: 0 auto;
  transition: 1s;
  font-family: 'Space Mono', monospace;
}

.HeaderClass a:hover {
  text-decoration: none;
  color: #e74040;
  transition: 0.2s;
}

.HeaderClass h1 {
  color: #e74040;
  font-size: 2.5em;
  margin: 0 auto;
  font-family: 'Space Mono', monospace;
}