
.profileData{
  background-color: rgb(219, 219, 219);
  width: 90%;
  height: 100%;
  margin: auto;
  font-family: 'Hind Siliguri', sans-serif;
}

.profileData img {
  width: 20%;
}

.profile h1 {
  text-align: center;
}
