#token-page {
  background-color: rgb(168, 8, 8);
  width: 900px;;
  height: 580px;
  margin: auto;
}

#token-page button {
  color: white;
  background-color: black;
}

#token-page h1 {
  width: 900px;;
  margin: 0 auto;
  background-color: rgb(145, 0, 0);
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0;
  font-family: 'Space Mono', monospace;
}